<!--Inicio do Footer-->
<footer class="footer-taluno">
    <div class="container footer-content">
        
        <div class="footer-col logo-col">
            <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac" class="footer-logo">
        </div>

        <div class="footer-col links-col">
            <ul class="footer-menu">
                <li><a href="#">SOBRE TALUNO</a></li>
                <li><a href="#">POLÍTICA DE COOKIES</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
                <li><a href="#">CENTRAL DE AJUDA</a></li>
            </ul>
        </div>

        <div class="footer-col social-col">
            <div class="social-icons">
                <a href="https://www.instagram.com/senacpe/" aria-label="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/SenacPernambuco" aria-label="YouTube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.facebook.com/senacpe/?locale=pt_BR" aria-label="Facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/company/senacpe/?originalSubdomain=br" aria-label="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            
            <a href="#" class="btn-back-top">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <hr class="footer-line">
            <p>TALUNO 2025. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
    </div>
</footer>
<!--Final do Footer-->