<nav class="navbar">
    <div class="logo-container">
        <span class="logo-taluno">TALUNO</span>
        <span style="font-weight: 400; opacity: 0.9;">| Senac</span>
    </div>

    <ul class="nav-links">
        <li><a href="#">Conheça o Taluno</a></li>
        <li><a href="#">Sou Aluno</a></li>
        <li><a href="#">Sou Empresa</a></li>
        <li><a href="#">Suporte</a></li>
    </ul>

    <div class="nav-buttons">
        <a href="../../templates/autenticacao/login.html" class="btn-login">
            <svg class="login-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M15 4H5V20H15V4ZM3 2.9918C3 2.44405 3.44749 2 3.99859 2H16.0014C16.5529 2 17 2.44405 17 2.9918V21.0082C17 21.556 16.5525 22 16.0014 22H3.99859C3.44711 22 3 21.556 3 21.0082V2.9918ZM19 11V13H24V11H19ZM20.5858 16.4142L22 15L25.4142 18.4142L24 19.8284L20.5858 16.4142ZM22 9L20.5858 7.58579L24 4.17157L25.4142 5.58579L22 9Z"></path>
            </svg>
            Entrar
        </a>
    </div>
</nav>