<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/projeto_taluno/static/css/core/core.css">
</head>
<body>
    <header class="header-taluno">
    <div class="top-bar">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac">
            </a>

            <div class="top-icons">
                <a href="#" class="icon-chat"><i class="fas fa-comment-dots"></i></a>
                <button class="menu-hamburguer"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>

    <nav class="nav-bar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="../index/index.html" class="active">Início</a></li>
                <li><a href="../vagas/vagas.html">Vagas</a></li>
                <li><a href="../mural/mural.html">Mural</a></li>
                <li><a href="../candidaturas/candidaturas.html">Candidaturas</a></li>
                <li><a href="../suporte/suporte.html">Suporte</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>