/* container da página */
.curriculo-form-page {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.curriculo-form {
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    padding: 50px;
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    position: relative;
}

/* botão voltar */
.btn-paginacao {
    position: absolute;
    left: 650px;   /* AGORA FICA DENTRO DO FORM */


    background-color: #e0e0e0;
    color: #888;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
/* títulos */
.curriculo-form h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #9600FF;
}

/* seções */
.form-section {
    margin-bottom: 35px;
}

.form-section h2 {
    margin-bottom: 15px;
    color: #9600FF;
    font-size: 18px;
}

/* campos */
.curriculo-form label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}

.curriculo-form input,
.curriculo-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.curriculo-form textarea {
    min-height: 90px;
    resize: vertical;
}

/* ações */
.acoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.cancelar {
    background: #ddd;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.salvar {
    background: #9600FF;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
}
