<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taluno | Empresa</title>
    <link rel="stylesheet" href="/projeto_taluno/static/css/global.css">
    <link rel="stylesheet" href="/projeto_taluno/static/css/empresa/vaga-empresa/gerenciar-vaga.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header class="header-taluno">
    <div class="top-bar">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac">
            </a>
            <div class="top-icons">
                <a href="#" class="icon-chat"><i class="fas fa-comment-dots"></i></a>
                <button class="menu-hamburguer"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>
    <nav class="nav-bar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="../inicio/inicio.html">Início</a></li>
                <li><a href="../vagas/vagas.html" class="active">Minhas Vagas</a></li>
                <li><a href="../mural/mural.html">Mural</a></li>
                <li><a href="../buscar/buscar_cv.html">Buscar CV's</a></li>
                <li><a href="../suporte/suporte.html">Suporte</a></li>
            </ul>
        </div>
    </nav>
</header>

<!--Aqui é responsável pela estrutura principal do site-->
<main class="dashboard-container">
   
    <!--Aqui é responsável pela div principal do site, que será o pai de todos outros containers-->
    <div class="card-gerenciamento-vaga">
        <header class="header-vaga">
            <div class="info-principal">
                
                <div class="textos-vaga">
                    <h1 class="titulo-vaga">Vaga para Porteiro</h1>
                    <p class="nome-empresa">Nome da Empresa</p>
                </div>

                <div class="vaga-metricas">
                    <button class="btn-candidatos">
                        Candidatos <span class="badge-count">8</span>
                    </button>
                </div>
            </div>
        </header>

        <section class="barra-indicadores">
            <div class="indicador-item">
                <span class="label">Total de Inscritos</span>
                <span class="valor-box">45</span>
            </div>

            <div class="indicador-item">
                <span class="label">Data de publicação</span>
                <span class="valor-box">22/11/2026</span>
            </div>
        </section>


        <!--Aqui é responsavel pela estrutura do conteudo principal (abaixo do indicadores das vagas)-->
        <div class="conteudo-principal">
            <section class="coluna-detalhes">
                <div class="box-descricao">
                    <h3>Descrição da Vaga</h3>
                    <p>Estamos em busca de um profissional responsável e atencioso para atuar como
                        Porteiro, garantindo a segurança e organização do ambiente. Será responsável
                        pelo controle de acesso de moradores, visitantes e prestadores de serviço.
                        Realizará o monitoramento de câmeras de segurança e registro de entradas e
                        saídas. Deverá prestar atendimento cordial ao público, fornecendo informações
                        quando necessário. Também ficará encarregado do recebimento e encaminhamento
                        de correspondências e encomendas. Atuará na fiscalização das dependências,
                        prevenindo situações de risco. É fundamental manter postura ética e profissional
                        no exercício da função. 
                        
                        <br><br>
                        Requisitos:
                        <br>
                        Ensino médio completo.
                        Experiência prévia na função será um diferencial.
                        Boa comunicação, responsabilidade e disponibilidade de horário.</p>
                </div>
            </section>

            <aside class="coluna-lateral">
                <div class="card-status">
                    <h4>Gerencia status</h4>
                    <div class="botoes-status">
                        <button class="btn-status ativa">Ativa</button>
                        <button class="btn-status">Pausar</button>
                        <button class="btn-status">Encerrar</button>
                    </div>
                </div>

                <div class="tags-vaga"></div> 
            </aside>
        </div>

        <footer class="rodape-acoes">
            <button class="btn-excluir">Excluir</button>
            <div class="acoes-direita">
                <button class="btn-voltar">Voltar</button>
                <button class="btn-editar">Editar informações</button>
            </div>
        </footer>

    </div>


</main>
   


        <!--Inicio do Footer-->
    <footer class="footer-taluno">
    <div class="container footer-content">
        
        <div class="footer-col logo-col">
            <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac" class="footer-logo">
        </div>

        <div class="footer-col links-col">
            <ul class="footer-menu">
                <li><a href="#">SOBRE TALUNO</a></li>
                <li><a href="#">POLÍTICA DE COOKIES</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
                <li><a href="#">CENTRAL DE AJUDA</a></li>
            </ul>
        </div>

        <div class="footer-col social-col">
            <div class="social-icons">
                <a href="https://www.instagram.com/senacpe/" aria-label="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/SenacPernambuco" aria-label="YouTube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.facebook.com/senacpe/?locale=pt_BR" aria-label="Facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/company/senacpe/?originalSubdomain=br" aria-label="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            
            <a href="#" class="btn-back-top">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <hr class="footer-line">
            <p>TALUNO 2025. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
    </div>
    </footer>
<!--Final do Footer-->

    <!-- AQUI É O MODAL DE EDIÇÃO DE INFORMAÇÕES -->
    <div class="modal-overlay-vaga" id="modal-edicao">
        <div class="janela-cadastro-vaga">
            <header class="header-modal-vaga">
                <h2 class="titulo-modal">Editar vaga</h2>
                <p class="subtitulo-modal">Altere as informações abaixo para atualizar sua vaga no taluno</p>
            </header>

            <form id="formulario-edicao-vaga" class="formulario-criacao-vaga">
                <div class="campo-vaga">
                    <label>Título da vaga</label>
                    <input type="text" id="edit-titulo" placeholder="Ex: Desenvolvedor Junior">
                </div>
            
                <div class="linha-vaga-dupla">
                    <div class="campo-vaga">
                        <label>Área</label>
                        <select id="edit-area" name="area-vaga">
                            <option value="">Selecione a área</option>
                            <option value="ti">TI e Software</option>
                            <option value="adm">Administração</option>
                            <option value="design">Design e UX</option>
                            <option value="mkt">Marketing e Comunicação</option>
                            <option value="vendas">Vendas e Comercial</option>
                            <option value="saude">Saúde</option>
                            <option value="atendimento">Atendimento ao Cliente</option>
                            <option value="outros">Outros</option>
                        </select>
                    </div>

                    <div class="campo-vaga">
                        <label>Modalidade</label>
                        <select id="edit-modalidade" name="nivel-vaga">
                            <option value="">Tipo de vaga</option>
                            <option value="clt">CLT</option>
                            <option value="estagio">Estágio</option>
                            <option value="pj">Aprendiz</option>
                            <option value="temporario">Freelancer</option>
                        </select>
                    </div>
                </div>

                <div class="campo-vaga">
                    <label>Descrição da vaga</label>
                    <textarea id="edit-descricao" rows="3" placeholder="Descreva as responsabilidades..." oninput="autoExpand(this)"></textarea>
                </div>

                <div class="divisor-requisitos">
                    <h3>Informações adicionais</h3>
                </div>

                <div class="linha-vaga-dupla">
                    <div class="campo-vaga">
                        <label for="edit-escolaridade">Escolaridade mínima</label>
                        <select id="edit-escolaridade">
                            <option value="">Selecione a escolaridade</option>
                            <option value="fundamental">Ensino Fundamental</option>
                            <option value="medio">Ensino Médio</option>
                            <option value="superior-cursando">Superior Cursando</option>
                            <option value="superior-completo">Superior Completo</option>
                            <option value="pos">Pós / Especialização</option>
                        </select>
                    </div>

                    <div class="campo-vaga">
                        <label for="edit-escala">Escala de trabalho</label>
                        <select id="edit-escala">
                            <option value="">Selecione a escala</option>
                            <option value="6x1">6x1 (Folga variável)</option>
                            <option value="5x2">5x2 (Segunda a Sexta)</option>
                            <option value="12x36">12hx36h</option>
                            <option value="hibrido">Híbrido</option>
                            <option value="remoto">Home Office</option>
                            <option value="combinar">A combinar</option>
                        </select>
                    </div>
                </div>

                <div class="linha-vaga-dupla">
                    <div class="campo-vaga">
                        <label for="edit-salario">Salário</label>
                        <input type="text" id="edit-salario" placeholder="Informe o salário">
                    </div>

                    <div class="campo-vaga">
                        <label for="edit-experiencia">Experiência exigida?</label>
                        <select id="edit-experiencia">
                            <option value="nao">Não</option>
                            <option value="sim">Sim</option>
                        </select>
                    </div>
                </div>

                <div class="footer-modal-vaga">
                    <button type="button" class="btn-vaga-cancelar">Cancelar</button>
                    <button type="submit" class="btn-vaga-publicar">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>

    <!--AQUI É A ESTRUTURA DO SEGUNDO MODAL DA TELA DE GERENCIAR VAGAS(CANDIDATOS)-->
    <div class="modal-overlay-vaga" id="modal-lista-candidatos">
        <div class="janela-candidatos">
            <header class="header-candidatos">
                <div class="titulo-vaga-container">
                    <h2 id="modal-candidatos-titulo">Desenvolvedor de software</h2>
                    <div class="divisor-vertical"></div>
                    <h3>Andamento</h3>
                </div>
            </header>

            <div class="tabela-container">
                <table class="tabela-candidatos">
                    <thead>
                        <tr class="cabecalho-roxo">
                            <th>Candidatos</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Allan Dellon</td>
                            <td class="status-aprovado">Aprovado</td>
                            <td>
                                <div class="acoes-botoes">
                                    <button class="btn-acao aprovar">Aprovar</button>
                                    <button class="btn-acao reprovar">reprovar</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Anna sem nina</td>
                            <td class="status-analise">Análise</td>
                            <td>
                                <div class="acoes-botoes borda-roxo">
                                    <button class="btn-acao aprovar">Aprovar</button>
                                    <button class="btn-acao reprovar">reprovar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <footer class="footer-candidatos">
                <button type="button" class="btn-voltar-cinza">Voltar</button>
                <button class="btn-avancar-fase">Avançar fase</button>
            </footer>
        </div>
    </div>
    </div>
</div>
<script src="/projeto_taluno/static/js/empresa/vagas/vagas-empresa.js"></script>
</body>
</html>