<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taluno Vagas</title>
    <link rel="stylesheet" href="/projeto_taluno/static/css/core/core.css">
</head>
<body>
    <!--Esse é o Header Padrão-->
    <header class="header-taluno">
    <div class="top-bar">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac">
            </a>

            <div class="top-icons">
                <a href="#" class="icon-chat"><i class="fas fa-comment-dots"></i></a>
                <button class="menu-hamburguer"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>
<!--Fim do Header Padrao-->

<!--Inicio da NavBar-->
    <nav class="nav-bar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="../index/index.html">Início</a></li>
                <li><a href="../vagas/vagas.html" class="active">Vagas</a></li>
                <li><a href="../mural/mural.html">Mural</a></li>
                <li><a href="../candidaturas/candidaturas.html">Candidaturas</a></li>
                <li><a href="../suporte/suporte.html">Suporte</a></li>
            </ul>
        </div>
    </nav>
<!--Fim Da NavBar-->

    <main>
        <p>Ola eu sou o lucas!</p>
    </main>

</body>
</html>