<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taluno Vagas</title>
    <link rel="stylesheet" href="/projeto_taluno/static/css/global.css">
HEAD
    <link rel="stylesheet" href="/projeto_taluno/static/css/vagas/vagas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header class="header-taluno">
    <div class="top-bar">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac">
            </a>

            <div class="top-icons">
                <a href="#" class="icon-chat"><i class="fas fa-comment-dots"></i></a>
                <button class="menu-hamburguer"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>

    <nav class="nav-bar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="../inicio/inicio.html">Início</a></li>
                <li><a href="../vagas/vagas.html" class="active">Vagas</a></li>
                <li><a href="../mural/feed.html">Mural</a></li>
                <li><a href="../candidaturas/candidaturas.html">Candidaturas</a></li>
                <li><a href="../suporte/suporte.html">Suporte</a></li>
            </ul>
        </div>
    </nav>
HEAD


    <!-- é definido o corpo do site onde terá a divisão do container e formulario -->
    <main class="vagas-layout"> 
        
        <!--Aqui é responsavel pelo fundo branco onde tem o formulario-->
        <aside class="filtros-sidebar">
            
            <!--Aqui é responsável pela Barra de Pesquisa-->
            <div class="busca-topo">
                <input type="text" placeholder="Pesquisar..." class="input-busca">
                <span class="icone-lupa">&#128269;</span>
            </div>

            <div class="filtros-container">
                <h2 class="filtros-titulo">Filtrar Vagas</h2>

                <form class="filtros-form">
                    <div class="campo-grupo">
                        <label for="palavra-chave">Palavra chave</label>
                        <div class="input-wrapper">
                            
                        </div>
                    </div>
                </form>



            </div>


        </aside>

        <section class="vagas-container">

            <!-- Aqui é responsável pela estrutura do primeiro card de vagas disponíveis-->
            <article class="card-das-vagas">
                <h3 class="vaga-titulo">vaga para barbeiro temporario </h3>
                <p class="vaga-empresa">Salão Homem Mais Forte</p>
                <p class="vaga-endereco">Av. Boa Viagem, 4200 - Recife, PE, 51021-000</p>
                
                <!--  Aqui são as informações que ficarão em destaques no cardo (tipo de vaga, carga horaria,turno)-->
                <div class="vaga-badges">
                    <span class="badge">Freelancer</span>
                    <span class="badge">12H</span>
                    <span class="badge">Tarde/Noite</span>
                </div>
            </article>

            
            <!-- Aqui é responsável pela estrutura do segundo card de vagas disponíveis-->
            <article class="card-das-vagas">
                <h3 class="vaga-titulo">Vaga Desenvolvedor Junior</h3>
                <p class="vaga-empresa">Simtec Soluções Tecnológicas</p>
                <p class="vaga-endereco">R. Alfandega, 35 - Recife, PE, 50030-030</p>
            
                <!--  Aqui são as informações que ficarão em destaques no cardo (tipo de vaga, carga horaria,turno)-->
                <div class="vaga-badges">
                    <span class="badge">Estágio</span>
                    <span class="badge">6H</span>
                    <span class="badge">manhã</span>
                </div>
            </article>

            <!-- Aqui é responsável pela estrutura do terceiro card de vagas disponíveis-->
            <article class="card-das-vagas">
                <h3 class="vaga-titulo">Vaga para Porteiro</h3>
                <p class="vaga-empresa">Simtec Soluções Tecnológicas</p>
                <p class="vaga-endereco">R. Alfandega, 35 - Recife, PE, 50030-030</p>
            
                <!--  Aqui são as informações que ficarão em destaques no cardo (tipo de vaga, carga horaria,turno)-->
                <div class="vaga-badges">
                    <span class="badge">CLT</span>
                    <span class="badge">8H</span>
                    <span class="badge">Noite</span>
                </div>
            </article>

            

            <!-- Aqui é responsável pela estrutura do terceiro card de vagas disponíveis-->
            <article class="card-das-vagas">
                <h3 class="vaga-titulo">Vaga Web Designer</h3>
                <p class="vaga-empresa">Simtec Soluções Tecnológicas</p>
                <p class="vaga-endereco">R. Alfandega, 35 - Recife, PE, 50030-030</p>
            
                <!--  Aqui são as informações que ficarão em destaques no cardo (tipo de vaga, carga horaria,turno)-->
                <div class="vaga-badges">
                    <span class="badge">CLT</span>
                    <span class="badge">8H</span>
                    <span class="badge">Tarde</span>
                </div>
            </article>

            <!-- aqui serão os botões que passam/voltam de vagas disponivéis-->
            <nav class="paginacao">
                <button class="btn-paginacao" aria-label="Página Anterior">&#10094;</button>

                <button class="btn-paginacao" aria-label="Próxima Página">&#10095;</button>
            </nav>

        </section>
    </main>
</header>
<main></main>
        <!--Inicio do Footer-->
    <footer class="footer-taluno">
    <div class="container footer-content">
        
        <div class="footer-col logo-col">
            <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac" class="footer-logo">
        </div>

        <div class="footer-col links-col">
            <ul class="footer-menu">
                <li><a href="#">SOBRE TALUNO</a></li>
                <li><a href="#">POLÍTICA DE COOKIES</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
                <li><a href="#">CENTRAL DE AJUDA</a></li>
            </ul>
        </div>

        <div class="footer-col social-col">
            <div class="social-icons">
                <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
                <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            
            <a href="#" class="btn-back-top">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <hr class="footer-line">
            <p>TALUNO 2025. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
    </div>
</footer>
<!--Final do Footer-->
</body>
</html>