<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taluno | Empresa</title>

    <!-- CSS GLOBAL -->
    <link rel="stylesheet" href="../../../static/css/global.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../../../static/css/empresa/mural/mural.css">

    <!-- Fonte da letra -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
<header class="header-taluno">
    <div class="top-bar">
        <div class="container">
            <a href="../inicio/inicio.html" class="logo">
                <img src="../../../static/img/logo/logo_taluno.png" alt="Taluno | Senac">
            </a>

            <div class="top-icons">
                <a href="#" class="icon-chat"><i class="fas fa-comment-dots"></i></a>
                <button class="menu-hamburguer"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>

    <nav class="nav-bar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="../inicio/inicio.html">Início</a></li>
                <li><a href="../vagas/vagas.html">Minhas Vagas</a></li>
                <li><a href="../mural/mural.html" class="active">Mural</a></li>
                <li><a href="../buscar/buscar_cv.html">Buscar CV's</a></li>
                <li><a href="../suporte/suporte.html">Suporte</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="mural-container">
    <section class="mural-lista">
        <article class="mural-card">
            <div class="mural-avatar">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1ehCvYbW9FrwWKwOONkAL6HvFomyeFmlqRw&s" alt="Ernande">
            </div>
            <div class="mural-conteudo">
                <h3>Ernande</h3>
                <p>
                    Curso excelente! Conteúdo bem organizado, professores didáticos
                    e exemplos práticos que realmente ajudam no aprendizado.
                </p>
            </div>
            
            <div class="mural-acoes">
                <label class="acao-like">
                    <input type="checkbox" class="like-toggle">
                    <i class="fa-solid fa-thumbs-up"></i>
                </label>
            </div>
        </article>
        <article class="mural-card">
            <div class="mural-avatar">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNsDdvq2HhUyMNFGxwaL1qPUHXVJlq5CRStA&s" alt="Allan">
            </div>
            <div class="mural-conteudo">
                <h3>Allan</h3>
                <p>
                    Conteúdo relevante, porém a didática pode melhorar em alguns momentos
                </p>
            </div>
            
            <div class="mural-acoes">
                <label class="acao-like">
                    <input type="checkbox" class="like-toggle">
                    <i class="fa-solid fa-thumbs-up"></i>
                </label>
            </div>
        </article>
        <article class="mural-card">
            <div class="mural-avatar">
                <img src="https://pvbeauty.com.br/wp-content/uploads/2024/12/cabelo-cacheado-feminino-lindo-pv-beauty-01.webp" alt="Alanna">
            </div>
            <div class="mural-conteudo">
                <h3>Alanna</h3>
                <p>
                    Curso muito bom, com aulas claras e objetivas. Apenas alguns módulos poderiam ser um pouco mais aprofundados
                </p>
            </div>
            
            <div class="mural-acoes">
                <label class="acao-like">
                    <input type="checkbox" class="like-toggle">
                    <i class="fa-solid fa-thumbs-up"></i>
                </label>
            </div>
        </article>
        <article class="mural-card">
            <div class="mural-avatar">
                <img src="https://s2-gshow.glbimg.com/nb3LOTpMPo6iCB0chn76M6EMp9c=/0x0:1080x1350/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2021/5/0/Ho40QKSFOI4CpjqD9XdQ/lalalalisa-m-1266193791287878354585487676039625108656108n.jpg" alt="Anna">
            </div>
            <div class="mural-conteudo">
                <h3>Anna</h3>
                <p>
                    O curso tem potencial, mas falta organização em alguns módulos
                </p>
            </div>
            
            <div class="mural-acoes">
                <label class="acao-like">
                    <input type="checkbox" class="like-toggle">
                    <i class="fa-solid fa-thumbs-up"></i>
                </label>
            </div>
        </article>
        <article class="mural-card">
            <div class="mural-avatar">
                <img src="https://img.freepik.com/fotos-gratis/homem-bonito-sorrindo-retrato-de-rosto-feliz-close-up_53876-145493.jpg?semt=ais_user_personalization&w=740&q=80" alt="Lucas">
            </div>
            <div class="mural-conteudo">
                <h3>Lucas</h3>
                <p>
                    O curso apresentou uma proposta clara e bem estruturada, com conteúdos relevantes e alinhados aos objetivos apresentados desde o início. 
                </p>
            </div>
            
            <div class="mural-acoes">
                <label class="acao-like">
                    <input type="checkbox" class="like-toggle">
                    <i class="fa-solid fa-thumbs-up"></i>
                </label>
            </div>
        </article>
        <article class="mural-card">
            <div class="mural-avatar">
                <img src="https://img.freepik.com/fotos-gratis/homem-afro-americano-com-camiseta-branca_273609-14638.jpg" alt="Joao">
            </div>
            <div class="mural-conteudo">
                <h3>Joao</h3>
                <p>
                    Conteúdo de altíssima qualidade, estruturado de forma inteligente
                </p>
            </div>
            
            <div class="mural-acoes">
                <label class="acao-like">
                    <input type="checkbox" class="like-toggle">
                    <i class="fa-solid fa-thumbs-up"></i>
                </label>
            </div>
        </article>
        <article class="mural-card">
            <div class="mural-avatar">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbmMRexEwieSOXkEAlTyN_1RK0ZcPFUildjw&s" alt="Rhyncon">
            </div>
            <div class="mural-conteudo">
                <h3>Rhyncon</h3>
                <p>
                    A jornada de aprendizado foi fluida e muito motivadora
                </p>
            </div>
            
            <div class="mural-acoes">
                <label class="acao-like">
                    <input type="checkbox" class="like-toggle">
                    <i class="fa-solid fa-thumbs-up"></i>
                </label>
            </div>
        </article>
    </section>
</main>

<footer class="footer-taluno">
    <div class="container footer-content">

        <div class="footer-col logo-col">
            <img src="../../../static/img/logo/logo_taluno.png" alt="Taluno | Senac" class="footer-logo">
        </div>

        <div class="footer-col links-col">
            <ul class="footer-menu">
                <li><a href="#">SOBRE TALUNO</a></li>
                <li><a href="#">POLÍTICA DE COOKIES</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
                <li><a href="#">CENTRAL DE AJUDA</a></li>
            </ul>
        </div>

        <div class="footer-col social-col">
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <hr class="footer-line">
            <p>TALUNO 2025. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
    </div>
</footer>

</body>
</html>
