<!DOCTYPE html> <html lang="pt-br"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taluno Inicio</title>
    <link rel="stylesheet" href="/projeto_taluno/static/css/global.css">
    <link rel="stylesheet" href="/projeto_taluno/static/css/aluno/inicio/inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <!--Inicio da NavBar-->
    <header class="header-taluno">
    <div class="top-bar">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac">
            </a>

            <div class="top-icons">
                <a href="../chat/chat.html" class="nav-icon" title="Chat"><i class="fas fa-comment-dots"></i></a>
                <a href="../usuario/usuario.html" class="nav-icon" title="Meu Perfil"><i class="fas fa-user"></i></a>
                <a href="../config/informacoes.html" class="nav-icon" title="Configurações"><i class="fas fa-gear"></i></a>
            </div>
        </div>
    </div>

    <nav class="nav-bar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="../inicio/inicio.html" class="active">Início</a></li>
                <li><a href="../vagas/vagas.html">Vagas</a></li>
                <li><a href="../mural/feed.html">Mural</a></li>
                <li><a href="../candidaturas/candidaturas.html">Candidaturas</a></li>
            </ul>
        </div>
    </nav>
</header>
<!--Fim da NavBar-->

<!-- ================= MAIN ================= -->
 <main> 
    
    <section class="empresa-dashboard">
        <div class="hero" id="carrossel-inicio">
            <a href="#" class="banner-slide ativo">
                <img src="../../../static/img/banners/banner-taluno.jpeg" alt="banner Taluno">
            </a>

            <a href="https://orango.senac.br/" target="_blank" class="banner-slide">
                <img src="../../../static/img/banners/banner_orango.jpeg" alt="banner Orango">
            </a>

            <a href="https://cachola.senac.br/?locale=pt" target="_blank" class="banner-slide">
                <img src="../../../static/img/banners/banner_cachola.jpeg" alt="banner Cachola">
            </a>

            <div class="progress-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
        </div>
    </section>

    <!-- HERO LOGADO -->
    <section class="hero-logado">
        <div class="hero-content">
            <div class="hero-cards">

                <a href="../usuario/usuario.html" class="hero-card">
                    <i class="fas fa-id-card"></i>
                    <h3>Meu Currículo</h3>
                    <span>Atualize suas informações</span>
                </a>

                <a href="../vagas/vagas.html" class="hero-card">
                    <i class="fas fa-briefcase"></i>
                    <h3>Buscar Vagas</h3>
                    <span>Encontre oportunidades</span>
                </a>

                <a href="../candidaturas/candidaturas.html" class="hero-card">
                    <i class="fas fa-paper-plane"></i>
                    <h3>Candidaturas</h3>
                    <span>Acompanhe seus envios</span>
                </a>

                <a href="../mural/feed.html" class="hero-card">
                    <i class="fas fa-bullhorn"></i>
                    <h3>Mural</h3>
                    <span>Veja avisos e novidades</span>
                </a>

            </div>
        </div>
    </section>

</main>
        <!--Inicio do Footer-->
   <footer class="footer-taluno">
    <div class="container footer-content">
        
        <div class="footer-col logo-col">
            <img src="/projeto_taluno/static/img/logo/logo_taluno.png" alt="Taluno | Senac" class="footer-logo">
        </div>

        <div class="footer-col links-col">
            <ul class="footer-menu">
                <li><a href="#">SOBRE TALUNO</a></li>
                <li><a href="#">POLÍTICA DE COOKIES</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
                <li><a href="#">CENTRAL DE AJUDA</a></li>
            </ul>
        </div>

        <div class="footer-col social-col">
            <div class="social-icons">
                <a href="https://www.instagram.com/senacpe/" aria-label="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/SenacPernambuco" aria-label="YouTube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.facebook.com/senacpe/?locale=pt_BR" aria-label="Facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/company/senacpe/?originalSubdomain=br" aria-label="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            
            <a href="#" class="btn-back-top">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <hr class="footer-line">
            <p>TALUNO 2025. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
    </div>
</footer>
<!--Final do Footer-->
<script src="../../../static/js/aluno/inicio/carrossel.js"></script>
</body>
</html>